body {background-color: bisque;}

.nimi{
    font-size: 27px;
    text-align: center;
}

#madis{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: 10px;
    text-align: center;
}